{% extends 'layout.html.twig' %}

{% block title %}Move to movie | Homepage{% endblock %}

{% block content %}
    <div class="homepage-container">

        {# full screen opening #}
        <div class="random-carousel">
            <div class="site-name">
                <h1>MOVE TO MOVIE</h1>
                <p>Stop watching, start travelling</p>
            </div>
            <p class="catchphrase">Visit the filming locations of your favorite movies</p>
        </div>

        {# movie cards #}
        <div class="homepage-movie-cards">
            {% for movie in movies %}
                <div class="movie-card">
                    <img src="{{ movie[1] }}" alt="{{ movie[0] }} cover">
                    <p class="movie-title">{{ movie[0] }}</p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
