{% extends 'layout.html.twig' %}

{% block title %}Move to movie | Homepage{% endblock %}

{% block content %}
    <div class="homepage-container">

        {# full screen opening #}
        <div class="random-carousel" id="slide-1">
            <div class="site-name">
                <h1>MOVE TO MOVIE</h1>
                <p>Stop watching, start travelling</p>
            </div>
            <p class="catchphrase">Visit the filming locations of your favorite movies</p>
        </div>
        <div class="random-carousel" id="slide-2">
            <div class="site-name">
                <h1>MOVE TO MOVIE</h1>
                <p>Stop watching, start travelling</p>
            </div>
            <p class="catchphrase">Visit the filming locations of your favorite movies</p>
        </div>
        <div class="random-carousel" id="slide-3">
            <div class="site-name">
                <h1>MOVE TO MOVIE</h1>
                <p>Stop watching, start travelling</p>
            </div>
            <p class="catchphrase">Visit the filming locations of your favorite movies</p>
        </div>
        <div class="random-carousel" id="slide-4">
            <div class="site-name">
                <h1>MOVE TO MOVIE</h1>
                <p>Stop watching, start travelling</p>
            </div>
            <p class="catchphrase">Visit the filming locations of your favorite movies</p>
        </div>
        <div class="random-carousel" id="slide-5">
            <div class="site-name">
                <h1>MOVE TO MOVIE</h1>
                <p>Stop watching, start travelling</p>
            </div>
            <p class="catchphrase">Visit the filming locations of your favorite movies</p>
        </div>

        {# movie cards #}
        <div class="homepage-movie-cards">
            <p>Choose your next adventure!</p>

            {% for movie in movies %}
                <div class="card">
                    <div class="card__inner">
                        <div class="card__face card__face--front"
                             style="background: url('{{ movie.img }}') center; background-size: cover">
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                {% for imgLocation in imgLocations %}
                                    {% if imgLocation.movie_id == movie.id %}
                                        <div class="card__header"
                                             style="background: url('{{ imgLocation.img }}') center; background-size: cover ; height: 50%">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="assets/js/random-slideshow.js"></script>
{% endblock %}
