{% extends 'layout.html.twig' %}

{% block title %}Move to movie | Homepage{% endblock %}

{% block content %}
    <div class="homepage-container">

        {# full screen opening #}
        <div class="random-carousel">
            <div class="site-name">
                <h1>MOVE TO MOVIE</h1>
                <p>Stop watching, start travelling</p>
            </div>
            <p class="catchphrase">Visit the filming locations of your favorite movies</p>
        </div>

        {# movie cards #}
        <div class="homepage-movie-cards">
            <p>Choose your next adventure!</p>
            {% for movie in movies %}
                <div class="card">
                    <div class="card__inner">
                        <div class="card__face card__face--front">
                            <img src="{{ movie[1] }}" alt="{{ movie[0] }} cover" class="front-class">
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <img src="{{ movie[0] }}" alt="{{ movie[0] }} cover" class="back-class">
                                    <h2></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

