


{% block content %}
<div class ="card">
        <div style=" border-radius:200p; height:200px; width:200px; 
        background: #f8faf5; 
        margin: auto;">
        <i class ="checkmark"></i>
        </div>
    
    <div>
    <h1>
        Your payment has been successful !
    </h1>
    <br>
    <p>
        We will receive the details of your order soon !
    </p>
    <br>
    <a href="/"> <p>Return to the homepage</p></a>
    </div>

    
    {% end block %}