@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container{
   display: flex; 
   justify-content: center;
   align-items: center;
   padding: 25px;
   min-height: 100vh;
   background: linear-gradient(90deg, #89cff0);
   padding-bottom: 70px;
}

.container form{
    padding:20px;
    width:700px;
    background: #ffff;
    box-shadow: 0 5px 1Opx rgba(0,0,0,1);
}
.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

.container form .row .col{
    flex: 1 1 250px;
}

.container form .row .col .title{
font-size:20px;
color:#333;
padding-bottom: 5px;
text-transform: uppercase;
}

.container form .row .col .intputBox{
  margin: 15px 0;  
}

.container form .row .col .intputBox span{
    margin-bottom: 10px;
    display: block;
}

.container form .row .col .inputBox input{
    width:100%;
    border:1px  #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputBox input:focus{
    border:1px solid #000;
}

.container form .row .col .flex{
    display: flex;
    gap: 15px;
}

.container form .row .col .flex .inputBox{
    margin-top:5px;
}

.button {
width: 100px;
padding: 12px;
 font-size: 17px;
 background: #89cff0;
 color: #ffff;
 margin-top:5px;
 cursor: pointer;
}

.button:hover{
    background: #89cff0;
    
}