.successful-block {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.successful-container {
    height: 100vh;
    width: 100vw;
    background: url("../../location/dubrovnik.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
    width: 100%;

}
