{% extends 'layout.html.twig' %}

{% block content %}
    <div class="successful-container" style="background: url('/assets/location/dubrovnik.jpg'); background-size: cover">

    <div class="successful-block">
<div>

<h3>
    Your payment has been successful !
</h3>
</div>
    <div>

    <p>
        Here is the recap of your reservation :
    </p>
    </div>
    <br>
        <div>

   <a href="/"> <p>Return to the homepage</p></a>
        </div>

    </div>
    </div>

{% endblock %}
