{% extends 'layout.html.twig' %}

{% block content %}
<h3>
    Your payment has been successful !
</h3>
    <br>
    <p>
        Here is the recap of your reservation :
    </p>
    <br>
   <a href="/"> <p>Return to the homepage</p></a>

{% endblock %}
